<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145970457550-0885dmfvv0n67gcpbgj6vft8v2nks1ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145970457550-0885dmfvv0n67gcpbgj6vft8v2nks1ac</string>
	<key>API_KEY</key>
	<string>AIzaSyCDWKKcxsZrNcPSPugcyNZ5d_pqTac575A</string>
	<key>GCM_SENDER_ID</key>
	<string>145970457550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jetchiang.wedream</string>
	<key>PROJECT_ID</key>
	<string>wedream-123</string>
	<key>STORAGE_BUCKET</key>
	<string>wedream-123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145970457550:ios:36085a981099cbda76199f</string>
</dict>
</plist>